/com/
/OpenJaw_UI_CopyDeck_BYS_revised_v1.properties
/OpenJaw_UI_CopyDeck_BYS_revised_v1.xls
/abc.xls
/abc.properties
/OpenJaw_UI_CopyDeck_BYS_revised_v1.xlsx
/excel03.xls
/excel03.properties
/excel031.properties
/xs.xls
/xs.properties
