<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!--CatServletMethodServlet的配置 -->
	<servlet>
		<servlet-name>CatServletMethodServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day09.servlet01.CatServletMethodServlet</servlet-class>
		<init-param>
			<param-name>CatServletMethodServlet</param-name>
			<param-value>http://localhost:8080/JavaWebBase/CatServletMethodServlet</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>CatServletMethodServlet</servlet-name>
		<url-pattern>/CatServletMethodServlet</url-pattern>
	</servlet-mapping>
	<!--GetDataServlet -->
	<servlet>
		<!-- 配置servlet的name,随便填写 -->
		<servlet-name>GetDataServlet</servlet-name>
		<!-- servlet指定的类 -->
		<servlet-class>com.qq986945193.javaweb.servlet.day09.servlet02.GetDataServlet</servlet-class>
		<!-- 配置启动服务器后立即加载此servlet -->
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<!-- 配置访问得了名称与路径 -->
		<servlet-name>GetDataServlet</servlet-name>
		<url-pattern>/GetDataServlet</url-pattern>
	</servlet-mapping>
	<!--SetDataServlet -->
	<servlet>
		<servlet-name>SetDataServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day09.servlet02.SetDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetDataServlet</servlet-name>
		<url-pattern>/SetDataServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>BrowserInfoServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.BrowserInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>SuccessServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.SuccessServlet</servlet-class>
	</servlet>
	<!-- GenericServlet -->
	<servlet>
		<servlet-name>GenericServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day09.servlet01.GenericServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GenericServlet</servlet-name>
		<url-pattern>/GenericServlet</url-pattern>
	</servlet-mapping>
	<!-- 测试我们自己写的GenericServlet -->
	<servlet>
		<servlet-name>CheckGenericServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day09.servlet01.CheckGenericServlet</servlet-class>
		<init-param>
			<param-name>woshiCheckGenericServlet</param-name>
			<param-value>woshivalue</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>CheckSystemGenericServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day09.servlet01.CheckSystemGenericServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginPostServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day09.servlet01.LoginPostServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>GetContextValueServlet</servlet-name>
    <servlet-class>com.qq986945193.javaweb.servlet.day09.servlet02.GetContextValueServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetPathServlet</servlet-name>
    <servlet-class>com.qq986945193.javaweb.servlet.day09.servlet02.GetPathServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StatisticsServlet</servlet-name>
    <servlet-class>com.qq986945193.javaweb.servlet.day09.servlet03.StatisticsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetClassLoaderServlet</servlet-name>
    <servlet-class>com.qq986945193.javaweb.servlet.day09.servlet04.GetClassLoaderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NotFoundServlet</servlet-name>
    <servlet-class>com.qq986945193.javaweb.servlet.day10.servlet01.NotFoundServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RedirectAServlet</servlet-name>
    <servlet-class>com.qq986945193.javaweb.servlet.day10.servlet01.RedirectAServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RedirectBServlet</servlet-name>
    <servlet-class>com.qq986945193.javaweb.servlet.day10.servlet01.RedirectBServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AutoTimeRefreshServlet</servlet-name>
    <servlet-class>com.qq986945193.javaweb.servlet.day10.servlet01.AutoTimeRefreshServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BrowserNoCacheServlet</servlet-name>
    <servlet-class>com.qq986945193.javaweb.servlet.day10.servlet01.BrowserNoCacheServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetByteServlet</servlet-name>
    <servlet-class>com.qq986945193.javaweb.servlet.day10.servlet01.GetByteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetClientInfoServlet</servlet-name>
    <servlet-class>com.qq986945193.javaweb.servlet.day10.servlet02.GetClientInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetRefererServlet</servlet-name>
    <servlet-class>com.qq986945193.javaweb.servlet.day10.servlet02.GetRefererServlet</servlet-class>
  </servlet>














	<servlet-mapping>
		<servlet-name>CheckGenericServlet</servlet-name>
		<url-pattern>/CheckGenericServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BrowserInfoServlet</servlet-name>
		<url-pattern>/BrowserInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SuccessServlet</servlet-name>
		<url-pattern>/SuccessServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckSystemGenericServlet</servlet-name>
		<url-pattern>/CheckSystemGenericServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginPostServlet</servlet-name>
		<url-pattern>/LoginPostServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetContextValueServlet</servlet-name>
    <url-pattern>/GetContextValueServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetPathServlet</servlet-name>
    <url-pattern>/GetPathServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StatisticsServlet</servlet-name>
    <url-pattern>/StatisticsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetClassLoaderServlet</servlet-name>
    <url-pattern>/GetClassLoaderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NotFoundServlet</servlet-name>
    <url-pattern>/NotFoundServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RedirectAServlet</servlet-name>
    <url-pattern>/RedirectAServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RedirectBServlet</servlet-name>
    <url-pattern>/RedirectBServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AutoTimeRefreshServlet</servlet-name>
    <url-pattern>/AutoTimeRefreshServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BrowserNoCacheServlet</servlet-name>
    <url-pattern>/BrowserNoCacheServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetByteServlet</servlet-name>
    <url-pattern>/GetByteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetClientInfoServlet</servlet-name>
    <url-pattern>/GetClientInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRefererServlet</servlet-name>
    <url-pattern>/GetRefererServlet</url-pattern>
  </servlet-mapping>


<context-param>
	<param-name>context-param</param-name>
	<param-value>context-param_value</param-value>
</context-param>


</web-app>