<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- 配置当发生某个错误码的时候，转发到指定页面 -->
	<error-page>
		<error-code>500</error-code>
		<location>/jsps/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/jsps/notfound.jsp</location>
	</error-page>
	<!-- 统计网页访问数量的filter -->
	<filter>
		<filter-name>CountSumFilter</filter-name>
		<filter-class>com.qq986945193.javaweb.filter.CountSumFilter</filter-class>
	</filter>
	<filter>
		<filter-name>StaticFilter</filter-name>
		<filter-class>com.qq986945193.javaweb.filter.StaticFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>StaticFilter</filter-name>
		<url-pattern>/servlet/DemoBookServlet</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CountSumFilter</filter-name>
		<!-- 表示拦截所有 -->
		<!-- <url-pattern>/*</url-pattern> -->
		<!-- 拦截请求，有四种选择。include forward等 -->
		<url-pattern>/GetDataServlet</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>


	<!-- 用户过滤的filter -->
	<filter>
		<filter-name>DemoUserFilter</filter-name>
		<filter-class>com.qq986945193.javaweb.filter.DemoUserFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>DemoUserFilter</filter-name>
		<url-pattern>/demo/userfilter/users/*</url-pattern>
	</filter-mapping>
	<!-- 管理员过滤的filter -->
	<filter>
		<filter-name>DemoAdminFilter</filter-name>
		<filter-class>com.qq986945193.javaweb.filter.DemoAdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>DemoAdminFilter</filter-name>
		<url-pattern>/demo/userfilter/admin/*</url-pattern>
	</filter-mapping>


	<!-- 处理编码的filter -->
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.qq986945193.javaweb.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/GetDataServlet</url-pattern>
	</filter-mapping>
	<!-- 统计网页访问数量的listener -->
	<listener>
		<listener-class>com.qq986945193.javaweb.listener.CountSumListener</listener-class>
	</listener>
	<!--CatServletMethodServlet的配置 -->
	<servlet>
		<servlet-name>CatServletMethodServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day09.servlet01.CatServletMethodServlet</servlet-class>
		<init-param>
			<param-name>CatServletMethodServlet</param-name>
			<param-value>http://localhost:8080/JavaWebBase/CatServletMethodServlet</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>CatServletMethodServlet</servlet-name>
		<url-pattern>/CatServletMethodServlet</url-pattern>
	</servlet-mapping>
	<!--GetDataServlet -->
	<servlet>
		<!-- 配置servlet的name,随便填写 -->
		<servlet-name>GetDataServlet</servlet-name>
		<!-- servlet指定的类 -->
		<servlet-class>com.qq986945193.javaweb.servlet.day09.servlet02.GetDataServlet</servlet-class>
		<!-- 配置启动服务器后立即加载此servlet -->
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<!-- 配置访问得了名称与路径 -->
		<servlet-name>GetDataServlet</servlet-name>
		<url-pattern>/GetDataServlet</url-pattern>
	</servlet-mapping>
	<!--SetDataServlet -->
	<servlet>
		<servlet-name>SetDataServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day09.servlet02.SetDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SetDataServlet</servlet-name>
		<url-pattern>/SetDataServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>BrowserInfoServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.BrowserInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>This is the description of my J2EE component</description>
		<display-name>This is the display name of my J2EE component</display-name>
		<servlet-name>SuccessServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.SuccessServlet</servlet-class>
	</servlet>
	<!-- GenericServlet -->
	<servlet>
		<servlet-name>GenericServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day09.servlet01.GenericServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GenericServlet</servlet-name>
		<url-pattern>/GenericServlet</url-pattern>
	</servlet-mapping>
	<!-- 测试我们自己写的GenericServlet -->
	<servlet>
		<servlet-name>CheckGenericServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day09.servlet01.CheckGenericServlet</servlet-class>
		<init-param>
			<param-name>woshiCheckGenericServlet</param-name>
			<param-value>woshivalue</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>CheckSystemGenericServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day09.servlet01.CheckSystemGenericServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginPostServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day09.servlet01.LoginPostServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetContextValueServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day09.servlet02.GetContextValueServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetPathServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day09.servlet02.GetPathServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StatisticsServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day09.servlet03.StatisticsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetClassLoaderServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day09.servlet04.GetClassLoaderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NotFoundServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day10.servlet01.NotFoundServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RedirectAServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day10.servlet01.RedirectAServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RedirectBServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day10.servlet01.RedirectBServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AutoTimeRefreshServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day10.servlet01.AutoTimeRefreshServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BrowserNoCacheServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day10.servlet01.BrowserNoCacheServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetByteServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day10.servlet01.GetByteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetClientInfoServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day10.servlet02.GetClientInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetRefererServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day10.servlet02.GetRefererServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetUrlInfoServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day10.servlet02.GetUrlInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OneForwordServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day10.servlet03.OneForwordServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TwoForwardServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day10.servlet03.TwoForwardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OneIncludeServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day10.servlet03.OneIncludeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TwoIncludeServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day10.servlet03.TwoIncludeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckParServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day10.servlet03.CheckParServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CharacterServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day10.CharacterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DemoUserFilterLoginServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.demo.DemoUserFilterLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SumFunctionServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day11.servlet01.SumFunctionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EncodingFormServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day10.servlet04.EncodingFormServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CatSessionServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day11.servlet02.CatSessionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>day11LoginServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day11.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginActionServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.LoginActionServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IntroduceServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.knowledge.IntroduceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>day11VerifyCodeServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day11.VerifyCodeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MvcClickServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day11.MvcClickServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserRegistServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day11.UserRegistServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserLoginServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day11.UserLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateAppServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.UpdateAppServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JNDIintroduceServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.knowledge.JNDIintroduceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TestBaseServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day11.TestBaseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EncodingServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day11.EncodingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadIntroduceServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.knowledge.UploadIntroduceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadIntroduceServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.knowledge.DownloadIntroduceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JsonIntroduceServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day11.JsonIntroduceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadFileServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day11.UploadFileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadMyFileServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.day11.UploadMyFileServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomerServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.demo.CustomerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DemoBookServlet</servlet-name>
		<servlet-class>com.qq986945193.javaweb.servlet.demo.DemoBookServlet</servlet-class>
	</servlet>








































	<servlet-mapping>
		<servlet-name>CheckGenericServlet</servlet-name>
		<url-pattern>/CheckGenericServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BrowserInfoServlet</servlet-name>
		<url-pattern>/BrowserInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SuccessServlet</servlet-name>
		<url-pattern>/SuccessServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckSystemGenericServlet</servlet-name>
		<url-pattern>/CheckSystemGenericServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginPostServlet</servlet-name>
		<url-pattern>/LoginPostServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetContextValueServlet</servlet-name>
		<url-pattern>/GetContextValueServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPathServlet</servlet-name>
		<url-pattern>/GetPathServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StatisticsServlet</servlet-name>
		<url-pattern>/StatisticsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetClassLoaderServlet</servlet-name>
		<url-pattern>/GetClassLoaderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NotFoundServlet</servlet-name>
		<url-pattern>/NotFoundServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedirectAServlet</servlet-name>
		<url-pattern>/RedirectAServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedirectBServlet</servlet-name>
		<url-pattern>/RedirectBServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AutoTimeRefreshServlet</servlet-name>
		<url-pattern>/AutoTimeRefreshServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BrowserNoCacheServlet</servlet-name>
		<url-pattern>/BrowserNoCacheServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetByteServlet</servlet-name>
		<url-pattern>/GetByteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetClientInfoServlet</servlet-name>
		<url-pattern>/GetClientInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetRefererServlet</servlet-name>
		<url-pattern>/GetRefererServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetUrlInfoServlet</servlet-name>
		<url-pattern>/GetUrlInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OneForwordServlet</servlet-name>
		<url-pattern>/OneForwordServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TwoForwardServlet</servlet-name>
		<url-pattern>/TwoForwardServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OneIncludeServlet</servlet-name>
		<url-pattern>/OneIncludeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TwoIncludeServlet</servlet-name>
		<url-pattern>/TwoIncludeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckParServlet</servlet-name>
		<url-pattern>/CheckParServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CharacterServlet</servlet-name>
		<url-pattern>/CharacterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SumFunctionServlet</servlet-name>
		<url-pattern>/SumFunctionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EncodingFormServlet</servlet-name>
		<url-pattern>/EncodingFormServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CatSessionServlet</servlet-name>
		<url-pattern>/CatSessionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginActionServlet</servlet-name>
		<url-pattern>/LoginActionServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IntroduceServlet</servlet-name>
		<url-pattern>/IntroduceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>day11LoginServlet</servlet-name>
		<url-pattern>/day11LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>day11VerifyCodeServlet</servlet-name>
		<url-pattern>/day11VerifyCodeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MvcClickServlet</servlet-name>
		<url-pattern>/MvcClickServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserRegistServlet</servlet-name>
		<url-pattern>/UserRegistServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserLoginServlet</servlet-name>
		<url-pattern>/UserLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateAppServlet</servlet-name>
		<url-pattern>/servlet/UpdateAppServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JNDIintroduceServlet</servlet-name>
		<url-pattern>/servlet/JNDIintroduceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TestBaseServlet</servlet-name>
		<url-pattern>/servlet/TestBaseServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EncodingServlet</servlet-name>
		<url-pattern>/EncodingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadIntroduceServlet</servlet-name>
		<url-pattern>/servlet/UploadIntroduceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadIntroduceServlet</servlet-name>
		<url-pattern>/servlet/DownloadIntroduceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JsonIntroduceServlet</servlet-name>
		<url-pattern>/servlet/JsonIntroduceServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadFileServlet</servlet-name>
		<url-pattern>/servlet/UploadFileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadMyFileServlet</servlet-name>
		<url-pattern>/servlet/UploadMyFileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>/demo/servlet/CustomerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DemoUserFilterLoginServlet</servlet-name>
		<url-pattern>/demo/servlet/DemoUserFilterLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DemoBookServlet</servlet-name>
		<url-pattern>/servlet/DemoBookServlet</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>context-param</param-name>
		<param-value>context-param_value</param-value>
	</context-param>
</web-app>